/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
.userData {
  color: #5757dd !important;
  font-size: 10px !important;
  line-height: 10px !important;
}

.userTabColor {
  background: #f1f6fc !important;
  color: #2e2424 !important;
  border-bottom: 1px gray;
}
.profileBackground {
  background: #f8f8f8 !important;
}

.userRow {
  padding: 0 18px 0.2rem !important;
  margin: 0 !important;
  font-size: 0.6rem !important;
}

.userHeader {
  margin: 0 !important;
  font-size: 10px !important;
  color: #5757dd !important;
  text-transform: uppercase !important;
  /* font-family: 'Noto Sans', sans-serif  !important; */
  font-weight: 300 !important;
}

.profilePosition {
  transform: translate3d(226px, 169px, 10px) !important;
  box-shadow: 2px 2px #9999 !important;
  top: auto !important;
  bottom: 245px;
  left: 20px !important;
}
