.ui.dimmer {
  z-index: 10001 !important;
}
.update-password-container .modal-dialog-centered {
  max-width: 560px;
}
.modal-head-container {
  display: flex !important;
  justify-content: space-between;
  padding: 40px 40px 34px 40px;
  border: none;
}
.modal-head-container .heading-title {
  font-size: 20px;
  color: #19191a;
  font-weight: normal;
}
.modal-head-container .close-btn {
  cursor: pointer;
}
.update-password-modal-content {
  padding: 0px 40px;
}
.update-password-modal-content .content-title {
  font-size: 16px;
  color: #19191a;
  line-height: 20px;
}
.update-password-modal-content .content-title .email-title {
  margin: 0px 4px 0px 4px;
  font-weight: 700;
}
.update-password-modal .modal-content {
  border: none;
  padding: 0px !important;
}
.update-password-modal .modal-content .content-title {
  color: black;
  text-align: left;
  margin: 0px 0px 40px 0px !important;
  font-size: 15px;
}
.update-password-modal-footer {
  padding: 40px;
  border: none;
}
.update-password-modal-footer .close-btn {
  margin: 0px;
  width: 230px;
  height: 40px;
  background: #03bd5d;
  border-radius: 2px;
  cursor: pointer;
}
