.folder-list {
  width: 100%;
  height: calc(
    100vh - var(--files-list-top-bar-height) - var(--files-list-bottom-margin)
  );
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
}
.folder-list-body {
  width: 100%;
  height: calc(
    100vh - var(--files-list-top-bar-height) - var(--files-list-header-height) -
      var(--files-list-bottom-margin) - 8px
  );
  display: block;
  overflow-x: auto;
  overflow-y: overlay;
  position: relative;
}
.folder-list-body::-webkit-scrollbar-track {
  background: transparent;
}

.folder-list-body::-webkit-scrollbar-thumb {
  background: transparent;
}
.folder-list-body:hover::-webkit-scrollbar-thumb,
.folder-list-body:active::-webkit-scrollbar-thumb,
.folder-list-body:focus::-webkit-scrollbar-thumb,
.folder-list-body:focus-within::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5);
}

.folder-list-body:hover::-webkit-scrollbar-track,
.folder-list-body:active::-webkit-scrollbar-track,
.folder-list-body:focus::-webkit-scrollbar-track,
.folder-list-body:focus-within::-webkit-scrollbar-track {
  background: transparent;
}
