.outlook-loading{
    /*margin-top: 20px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.outlook-loading img{
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}